/*
TABLE OF CONTENTS

GENERAL -general page css
HEADER -header css
FORM STYLING -error messages, inputs
BUTTONS -buttons css
 */
/*
COLOR PALETTE

#FFF5EE -Seashell
#FF8C00 -Dark Orange
#8A360F -Burnt Sienna

#C6E2FF -Sky Blue
#1C86EE -Bright Blue
#0000CD -Royal Blue
 */
/*------------------------------------//
//              GENERAL               //
//------------------------------------*/
*,*:after,*:before
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -ms-box-sizing: border-box
    box-sizing: border-box
    margin: 0
    padding: 0


html 
    font-size: 62.5%


body 
    font-size: 16px
    font-size: 1.6rem
    padding-top: 120px
    font-family: arial
    background-color: red


#page-wrap 
    width: 800px
    margin: 0 auto


#container a:link,#container a:visited 
    color: orange
    text-decoration: none
    border-bottom: 1px solid orange


#container a:hover 
    color: slateGrey
    border-bottom: 1px solid slateGrey


small 
    color: slateGrey
    font-style: italic


p 
    line-height: 25px
    line-height: 2.5rem
    margin-bottom: 30px
    margin-bottom: 3.0rem


/*------------------------------------//
//               HEADER               //
//------------------------------------*/
nav 
    margin-bottom: 100px
    text-transform: uppercase


nav ul ul 
    display: none


nav ul li:hover > ul 
    display: block


nav ul 
    list-style: none
    position: relative
    display: inline-table


nav ul:after 
    content: ""
    clear: both
    display: block


nav ul li 
    float: left


nav ul li:hover 
    //text-decoration: underline


nav ul li a:hover 
    color: grey
    text-decoration: underline


nav ul li a 
    display: block
    padding-right: 40px
    color: black
    text-decoration: none


nav ul li ul 
    position: absolute
    top: 100%


nav ul li ul li 
    float: none
    position: relative


nav ul li ul li a 
    padding: 15px 40px 0 0
    color: black


nav ul li ul li ul 
    position: absolute
    left: 100%
    top: 0


/*------------------------------------//
//           FORM STYLING             //
//------------------------------------*/
form .error 
    color: #9F1319
    background-color: #9F1319
    width: 16px
    height: 16px


form .hightlight 
    border: 1px solid #9F1319 !important
    background: url(iconCaution.gif) no-repeat 2px


form .loading 
    /*float: right
    
    background: url(ajax-loader.gif) no-repeat 1px
    
    height: 28px
    
    width: 28px
    */
display: none


.done 
    /*background: url(iconIdea.gif) no-repeat 2px
    
    padding-left: 20px
    
    font-family: arial
    
    font-size: 12px
    
    width: 70%
    
    margin: 20px auto
     */
display: none


#passstrength 
    border-style: solid
    border-width: 1px
    background-color: lightgrey
    margin: 8px 0 0 0
    padding: 3px 5px
    text-align: center
    width: 161px
    display: none


.pass-ok 
    border: 1px solid black !important
    background-color: green !important


.pass-alert 
    border: 1px solid black !important
    background-color: orange !important


.pass-error 
    border: 1px solid black !important
    background-color: red !important


input[type='search'],input[type='url'],input[type='email'],input[type='text'],input[type='password'],textarea 
    border: 1px solid #ccc

    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1)
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1)
    font-size: 14px
    font-size: 1.4rem
    font-family: 'Muli', sans-serif
    outline: 0
    margin: 5px 0
    margin: 0.5rem 0
    padding: 4px
    padding: 0.4rem
    border-radius: 2px


input[type='search']:focus,input[type='url']:focus,input[type='email']:focus,input[type='text']:focus,input[type='password']:focus,textarea:focus 
    border: 1px solid #b1b1b1

    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2)
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2)

    -webkit-transition: border 0.4s
    -moz-transition: border 0.4s
    -o-transition: border 0.4s
    -ms-transition: border 0.4s
    transition: border 0.4s


/*------------------------------------//
//              BUTTONS               //
//------------------------------------*/
.button 
    margin: 5px 5px 0 0
    margin: 0.5rem 0.5rem 0 0
    padding: 5px 6px
    padding: 0.5em 0.6em
    background-color: #4a93a4
    border: 1px solid #2c398c !important
    font-size: 10px
    color: rgba(9, 15, 30, 0.8) !important
    text-transform: uppercase
    font-weight: bold
    font-family: 'Muli', sans-serif
    text-decoration: none
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(25, 27, 9, 0.9)
    border-radius: 1px
    position: relative
    top: -5px

    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 0 5px 0 #3a79a4, 0 6px 0 #593a11, 0 8px 0 #ccc
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 0 5px 0 #3a79a4, 0 6px 0 #593a11, 0 8px 0 #ccc

    -webkit-transition: background 0.3s ease-out
    -moz-transition: background 0.3s ease-out
    -o-transition: background 0.3s ease-out
    -ms-transition: background 0.3s ease-out
    transition: background 0.3s ease-out


.button:hover,.button:focus 
    background: #649eac
    border: 1px solid #186ca4
    cursor: pointer
    position: relative
    top: -5px

    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 2px 1px rgba(255, 255, 255, 0.5), 0 5px 0 #4886b1, 0 6px 0 #593a11, 0 8px 0 #ccc
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 2px 1px rgba(255, 255, 255, 0.5), 0 5px 0 #4886b1, 0 6px 0 #593a11, 0 8px 0 #ccc


.button:active 
    background: #4a86a4
    border: 1px solid #183ea4
    position: relative
    top: -1px

    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.4), inset 0 1px 2px rgba(255, 255, 255, 0.5), 0 1px 0 #205993, 0 2px 0 #593a11, 0 4px 0 #ccc
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.4), inset 0 1px 2px rgba(255, 255, 255, 0.5), 0 1px 0 #205993, 0 2px 0 #593a11, 0 4px 0 #ccc


.button.disabled,.button.disabled:hover,.button.disabled:focus,.button.disabled:active 
    background: grey !important
    border: 1px solid #186ca4 !important
    cursor: pointer !important
    position: relative !important
    top: -5px !important

    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 2px 1px rgba(255, 255, 255, 0.5), 0 5px 0 #4886b1, 0 6px 0 #593a11, 0 8px 0 #ccc !important
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 2px 1px rgba(255, 255, 255, 0.5), 0 5px 0 #4886b1, 0 6px 0 #593a11, 0 8px 0 #ccc !important

